# General
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
%backup%

# cask packages
.cask/
dist/

# server auth directory
/server/

# Packages
/elpa/

#Semantic files
/semanticdb/

# Magit
/transient/

# Eshell aliases, history & so on
/eshell/

# AucTex
/auto/

#RefTeX
*.rel

# Ignore tramp backup & history
/tramp

# Projectile
/projectile-bookmarks.eld
.projectile

# LSP
/.lsp-session-v1

# Flycheck
flycheck_*.el

# Auto-complete
/ac-comphist.dat

# Game logs
/games/

# Speed-type
/speed-type/

# EWW
/url/
/.cache/

# AMX
/amx-items

# XKCD
/xkcd/

# Cache of (japanese ?) input method
/kkcrc

# Org latex preview
/ltximg/

# Our custom file
/custom-file.el

# Prescient data
/var/

# Elfeed database/index
/.elfeed/

# pdf-view-restore
/.pdf-view-restore

#Savehist
/history

#Package compilation
/eln-cache/

# Dired image preview
/image-dired/

# nov-mode history
/nov-places

# Bookmarks
/bookmarks

# Project
/projects

# Recentf-mode
/recentf

# Other random stuff
/network-security.data
*.sqlite
/session.105c7771555e10ce7e161703684163112000000021830165
